# Block everything
<FilesMatch ".*">
    Require all denied
</FilesMatch>

# Allow only index.php + wsdl.php
#<FilesMatch "^(index|wsdl)\.php$">
<FilesMatch "^(index)\.php$">
    Require all granted
</FilesMatch>
